@page "/roles/create"
@attribute [ExcludeFromInteractiveRouting]
@using Abc.Infra
@inject IRolesRepo repo
@inject NavigationManager NavigationManager

<PageTitle>Create Role</PageTitle>

<h1>Create</h1>

<h2>Role</h2>
<hr />

<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Role" OnValidSubmit="AddRole" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert" />
            <div class="mb-3">
                <label for="name" class="form-label">Name:</label>
                <InputSelect id="name" @bind-Value="Role.Name" class="form-control">
                    <option value="">-- select role --</option>
                    <option value="Student">Student</option>
                    <option value="Lecturer">Lecturer</option>
                </InputSelect>
                <ValidationMessage For="() => Role.Name" class="text-danger" />
            </div>

            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/roles">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private Role Role { get; set; } = new();

    protected override void OnInitialized()
    {
        Role ??= new Role();
    }

    private async Task AddRole()
    {
        if (Role is null) return;

        if (string.IsNullOrWhiteSpace(Role.Name))
        {
            return;
        }

        await repo.CreateAsync(Role);
        NavigationManager.NavigateTo("/roles");
    }
}