@page "/roles/edit"
@attribute [ExcludeFromInteractiveRouting]
@using Abc.Infra
@inject IRolesRepo repo
@inject NavigationManager NavigationManager

<PageTitle>Edit Role</PageTitle>

<h1>Edit</h1>

<h2>Role</h2>
<hr />

@if (Role is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Role" OnValidSubmit="UpdateRole" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary class="text-danger" role="alert" />

                <input type="hidden" name="Role.Id" value="@Role.Id" />

                <div class="mb-3">
                    <label for="name" class="form-label">Name:</label>
                    <InputSelect id="name" @bind-Value="Role.Name" class="form-control">
                        <option value="">-- select role --</option>
                        <option value="Student">Student</option>
                        <option value="Lecturer">Lecturer</option>
                    </InputSelect>
                    <ValidationMessage For="() => Role.Name" class="text-danger" />
                </div>

                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/roles">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private Guid Id { get; set; }

    [SupplyParameterFromForm]
    private Role? Role { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Role ??= await repo.GetAsync(Id);

        if (Role is null)
        {
            NavigationManager.NavigateTo("/notfound");
        }
    }

    private async Task UpdateRole()
    {
        if (Role is null) return;

        if (string.IsNullOrWhiteSpace(Role.Name))
        {
            return;
        }

        await repo.UpdateAsync(Role);
        NavigationManager.NavigateTo("/roles");
    }
}