@using Abc.Data.Common
@using Abc.Infra

@typeparam TItem where TItem : BaseEntity

<PageTitle>@PageTitleText</PageTitle>

<h1>@EntityTitle</h1>

@if (ShowCreate)
{
    <p>
        <a href=@($"{BasePath}/create")>Create New</a>
    </p>
}

@* <MyEntitiesTable TEntity="TItem" Entities="Items" BasePath="@BasePath" />
 *@

<MyEntitiesTable TEntity="TItem" Repo="Repo" BasePath="@BasePath" />

@code {
    [Parameter] public string PageTitleText { get; set; } = "Create";
    [Parameter] public string EntityTitle { get; set; }
    [Parameter] public IRepo<TItem> Repo { get; set; }
    [Parameter] public string BasePath { get; set; }
    // Set false to hide the "Create New" link on a given index page (default shows it).
    [Parameter] public bool ShowCreate { get; set; } = true;

}
