@page "/materials"
@* Stay on the server, don't move to the browser *@
@rendermode InteractiveServer
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using Abc.Data.Consultation
@using ConsApp.Data
@implements IAsyncDisposable
@inject IDbContextFactory<ConsApp.Data.ApplicationDbContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="materials/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Material">
    <PropertyColumn Property="material => material.Name" />
    <PropertyColumn Property="material => material.Code" />
    <PropertyColumn Property="material => material.Details" />
    <PropertyColumn Property="material => material.ValidFrom" />
    <PropertyColumn Property="material => material.ValidTo" />

    <TemplateColumn Context="material">
        <a href="@($"materials/edit?id={material.Id}")">Edit</a> |
        <a href="@($"materials/details?id={material.Id}")">Details</a> |
        <a href="@($"materials/delete?id={material.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private ApplicationDbContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
