@page "/consultationslots/edit"
@using Microsoft.EntityFrameworkCore
@using Abc.Data.Consultation
@inject IDbContextFactory<ConsApp.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>ConsultationSlot</h2>
<hr />
@if (ConsultationSlot is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="ConsultationSlot" OnValidSubmit="UpdateConsultationSlot" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="ConsultationSlot.Id" value="@ConsultationSlot.Id" />
                <div class="mb-3">
                    <label for="courseid" class="form-label">CourseId:</label>
                    <input id="courseid" @bind="ConsultationSlot.CourseId" class="form-control" type="text" />
                    <ValidationMessage For="() => ConsultationSlot.CourseId" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="lecturerid" class="form-label">LecturerId:</label>
                    <input id="lecturerid" @bind="ConsultationSlot.LecturerId" class="form-control" type="text" />
                    <ValidationMessage For="() => ConsultationSlot.LecturerId" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="starttime" class="form-label">StartTime:</label>
                    <InputDate id="starttime" @bind-Value="ConsultationSlot.StartTime" class="form-control" />
                    <ValidationMessage For="() => ConsultationSlot.StartTime" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="endtime" class="form-label">EndTime:</label>
                    <InputDate id="endtime" @bind-Value="ConsultationSlot.EndTime" class="form-control" />
                    <ValidationMessage For="() => ConsultationSlot.EndTime" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="meetinglink" class="form-label">MeetingLink:</label>
                    <InputText id="meetinglink" @bind-Value="ConsultationSlot.MeetingLink" class="form-control" />
                    <ValidationMessage For="() => ConsultationSlot.MeetingLink" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="isbooked" class="form-label">IsBooked:</label>
                    <InputCheckbox id="isbooked" @bind-Value="ConsultationSlot.IsBooked" class="form-check-input" />
                    <ValidationMessage For="() => ConsultationSlot.IsBooked" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="validfrom" class="form-label">ValidFrom:</label>
                    <InputDate id="validfrom" @bind-Value="ConsultationSlot.ValidFrom" class="form-control" />
                    <ValidationMessage For="() => ConsultationSlot.ValidFrom" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="validto" class="form-label">ValidTo:</label>
                    <InputDate id="validto" @bind-Value="ConsultationSlot.ValidTo" class="form-control" />
                    <ValidationMessage For="() => ConsultationSlot.ValidTo" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/consultationslots">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private Guid Id { get; set; }

    [SupplyParameterFromForm]
    private ConsultationSlot? ConsultationSlot { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        ConsultationSlot ??= await context.ConsultationSlot.FirstOrDefaultAsync(m => m.Id == Id);

        if (ConsultationSlot is null)
        {
            NavigationManager.NotFound();
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateConsultationSlot()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(ConsultationSlot!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!ConsultationSlotExists(ConsultationSlot!.Id))
            {
                NavigationManager.NotFound();
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/consultationslots");
    }

    private bool ConsultationSlotExists(Guid id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.ConsultationSlot.Any(e => e.Id == id);
    }
}
