@page "/users"
@attribute [ExcludeFromInteractiveRouting]
@using Microsoft.AspNetCore.Components.QuickGrid
@using Abc.Infra
@inject IUsersRepo repo

<PageTitle>Users</PageTitle>

<h1>Users</h1>

<p>
    <a href="users/create">Create New</a>
</p>

<QuickGrid Class="table" Items="users">
    <PropertyColumn Title="Name" Property="user => user.Name" />
    <PropertyColumn Title="Email" Property="user => user.Email" />

    <TemplateColumn Context="user">
        <a href="@($"users/edit?id={user.Id}")">Edit</a> |
        <a href="@($"users/details?id={user.Id}")">Details</a> |
        <a href="@($"users/delete?id={user.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private IQueryable<User> users = Enumerable.Empty<User>().AsQueryable();

    protected override async Task OnInitializedAsync()
    {
        var result = await repo.GetAsync(new Query());
        users = result.AsQueryable();
    }
}