@page "/students/edit"
@using Microsoft.EntityFrameworkCore
@using Abc.Data.Consultation
@inject IDbContextFactory<ConsApp.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Student</h2>
<hr />
@if (Student is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Student" OnValidSubmit="UpdateStudent" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Student.Id" value="@Student.Id" />
                <div class="mb-3">
                    <label for="email" class="form-label">Email:</label>
                    <InputText id="email" @bind-Value="Student.Email" class="form-control" />
                    <ValidationMessage For="() => Student.Email" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="name" class="form-label">Name:</label>
                    <InputText id="name" @bind-Value="Student.Name" class="form-control" />
                    <ValidationMessage For="() => Student.Name" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="code" class="form-label">Code:</label>
                    <InputText id="code" @bind-Value="Student.Code" class="form-control" />
                    <ValidationMessage For="() => Student.Code" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="details" class="form-label">Details:</label>
                    <InputText id="details" @bind-Value="Student.Details" class="form-control" />
                    <ValidationMessage For="() => Student.Details" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="validfrom" class="form-label">ValidFrom:</label>
                    <InputDate id="validfrom" @bind-Value="Student.ValidFrom" class="form-control" />
                    <ValidationMessage For="() => Student.ValidFrom" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="validto" class="form-label">ValidTo:</label>
                    <InputDate id="validto" @bind-Value="Student.ValidTo" class="form-control" />
                    <ValidationMessage For="() => Student.ValidTo" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/students">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private Guid Id { get; set; }

    [SupplyParameterFromForm]
    private Student? Student { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Student ??= await context.Student.FirstOrDefaultAsync(m => m.Id == Id);

        if (Student is null)
        {
            NavigationManager.NotFound();
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateStudent()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(Student!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!StudentExists(Student!.Id))
            {
                NavigationManager.NotFound();
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/students");
    }

    private bool StudentExists(Guid id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Student.Any(e => e.Id == id);
    }
}
