@page "/coursematerials"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using Abc.Data.Consultation
@using ConsApp.Data
@implements IAsyncDisposable
@inject IDbContextFactory<ConsApp.Data.ApplicationDbContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="coursematerials/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.CourseMaterial">
    <PropertyColumn Property="coursematerial => coursematerial.CourseId" />
    <PropertyColumn Property="coursematerial => coursematerial.MaterialId" />
    <PropertyColumn Property="coursematerial => coursematerial.ValidFrom" />
    <PropertyColumn Property="coursematerial => coursematerial.ValidTo" />

    <TemplateColumn Context="coursematerial">
        <a href="@($"coursematerials/edit?id={coursematerial.Id}")">Edit</a> |
        <a href="@($"coursematerials/details?id={coursematerial.Id}")">Details</a> |
        <a href="@($"coursematerials/delete?id={coursematerial.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private ApplicationDbContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
