@page "/notifications"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using Abc.Data.Consultation
@using ConsApp.Data
@implements IAsyncDisposable
@inject IDbContextFactory<ConsApp.Data.ApplicationDbContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="notifications/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Notification">
    <PropertyColumn Property="notification => notification.ConsultationSlotId" />
    <PropertyColumn Property="notification => notification.LecturerId" />
    <PropertyColumn Property="notification => notification.StudentId" />
    <PropertyColumn Property="notification => notification.Message" />
    <PropertyColumn Property="notification => notification.SentAt" />
    <PropertyColumn Property="notification => notification.Status" />
    <PropertyColumn Property="notification => notification.ValidFrom" />
    <PropertyColumn Property="notification => notification.ValidTo" />

    <TemplateColumn Context="notification">
        <a href="@($"notifications/edit?id={notification.Id}")">Edit</a> |
        <a href="@($"notifications/details?id={notification.Id}")">Details</a> |
        <a href="@($"notifications/delete?id={notification.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private ApplicationDbContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
