@page "/feedbacks/create"
@using Microsoft.EntityFrameworkCore
@using Abc.Data.Consultation
@inject IDbContextFactory<ConsApp.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>Feedback</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Feedback" OnValidSubmit="AddFeedback" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="bookingid" class="form-label">BookingId:</label> 
                <input id="bookingid" type="text" @bind="Feedback.BookingId" class="form-control" /> 
                <ValidationMessage For="() => Feedback.BookingId" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="rating" class="form-label">Rating:</label> 
                <InputNumber id="rating" @bind-Value="Feedback.Rating" class="form-control" /> 
                <ValidationMessage For="() => Feedback.Rating" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="comment" class="form-label">Comment:</label> 
                <InputText id="comment" @bind-Value="Feedback.Comment" class="form-control" /> 
                <ValidationMessage For="() => Feedback.Comment" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="createdat" class="form-label">CreatedAt:</label> 
                <InputDate id="createdat" @bind-Value="Feedback.CreatedAt" class="form-control" /> 
                <ValidationMessage For="() => Feedback.CreatedAt" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="validfrom" class="form-label">ValidFrom:</label> 
                <InputDate id="validfrom" @bind-Value="Feedback.ValidFrom" class="form-control" /> 
                <ValidationMessage For="() => Feedback.ValidFrom" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="validto" class="form-label">ValidTo:</label> 
                <InputDate id="validto" @bind-Value="Feedback.ValidTo" class="form-control" /> 
                <ValidationMessage For="() => Feedback.ValidTo" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/feedbacks">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private Feedback Feedback { get; set; } = default!;

    protected override void OnInitialized() => Feedback ??= new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddFeedback()
    {
        using var context = DbFactory.CreateDbContext();
        context.Feedback.Add(Feedback);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/feedbacks");
    }
}
