@page "/feedbacks"
@* Stay on the server, don't move to the browser *@
@rendermode InteractiveServer
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using Abc.Data.Consultation
@using ConsApp.Data
@implements IAsyncDisposable
@inject IDbContextFactory<ConsApp.Data.ApplicationDbContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="feedbacks/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Feedback">
    <PropertyColumn Property="feedback => feedback.BookingId" />
    <PropertyColumn Property="feedback => feedback.Rating" />
    <PropertyColumn Property="feedback => feedback.Comment" />
    <PropertyColumn Property="feedback => feedback.CreatedAt" />
    <PropertyColumn Property="feedback => feedback.ValidFrom" />
    <PropertyColumn Property="feedback => feedback.ValidTo" />

    <TemplateColumn Context="feedback">
        <a href="@($"feedbacks/edit?id={feedback.Id}")">Edit</a> |
        <a href="@($"feedbacks/details?id={feedback.Id}")">Details</a> |
        <a href="@($"feedbacks/delete?id={feedback.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private ApplicationDbContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
